---
clouds:
  openstack:
    auth:
      auth_url: https://api-1.betacloud.de:5000/v3
      username: USER
      user_domain_name: DOMAIN
      project_name: PROJECT
      project_domain_name: DOMAIN
    identity_api_version: 3
    image_api_version: 2
