[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"ruamel.yaml" = "==0.17.36"
loguru = "==0.7.2"
minio = "==7.1.17"
munch = "==4.0.0"
natsort = "==8.4.0"
openstacksdk = "==1.5.0"
paramiko = "==3.3.1"
patool = "==1.12"
requests = "==2.31.0"
tabulate = "==0.9.0"
typer = {version = "==0.9.0", extras = ["all"]}
yamale = "==4.0.4"

[dev-packages]

[requires]
python_version = "3.9"
