---
- name: Real world play
  hosts: all

  roles:
    - role: tox
      vars:
        tox_extra_args: -- --latest --hide --hypervisor kvm --force

    - role: tox
      vars:
        tox_extra_args: -- --validate
