---
name: Check yaml syntax

on:
  push:
    paths:
      - .github/workflows/check-yaml-syntax.yml
      - '**.yml'
      - '**.yaml'
  pull_request:
    paths:
      - .github/workflows/check-yaml-syntax.yml
      - '**.yml'
      - '**.yaml'

jobs:
  check-yaml-syntax:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2.2.2
        with:
          python-version: '3.x'
      - run: pip3 install yamllint
      - run: yamllint --config-file .github/yamllint.yml .
