---
name: Update images

"on":
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'

jobs:
  update-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install pip3
        run: pip3 install tox

      - name: Update ${{ matrix.image }} images
        uses: technote-space/create-pr-action@v2
        with:
          EXECUTE_COMMANDS: |
            tox -e update
          COMMIT_EMAIL: 'bot@osism.tech'
          COMMIT_MESSAGE: |
            chore: update images

            Signed-off-by: OSISM Bot <bot@osism.tech>
          COMMIT_NAME: "OSISM Bot"
          ONLY_DEFAULT_BRANCH: true
          PR_BRANCH_NAME: "update-images"
          PR_BRANCH_PREFIX: "chore/"
          PR_TITLE: "chore: update images"
